
body{
    background-color: rgba(0, 0, 0, 0.92);
    font-family: "Segoe UI", serif;
    height: 100%;
}

#new-post{
    margin-bottom: 5px;
    background-color: rgb(57, 51, 61);
    border: none;
    font-size: 13px;
    transition: background-color, 1s;
    color: white;
    border-radius: 5px;
    width: 150px;
}

#new-post:hover{
    background-color: #11a985;
}

#menu{
    margin-top: 0.4%;
}

#upload-area{
    background-color: rgba(64, 66, 76, 0.96);
    border-radius: 5px 5px 0 0;
    padding: 0;
}

#upload-rect{
    border: 2px dashed aliceblue;
    height: 170px;
    margin-top: 50px;
    padding: 0;

}

#button-area{
    margin-top: 20px;
    padding: 0;
    margin-bottom: 20px;
}

#footer-area{
    height: 50px;
    background-color: #35363f;
    border-radius: 0 0 5px 5px;
}