
body{
    background-color: rgba(0, 0, 0, 0.92);
    font-family: "Segoe UI", serif;
    height: 100%;
    display: grid;
}

#buttons-wrapper{
    padding: 0px;
}

#new-post, #browse, #search-button{
    background-color: rgb(95, 93, 110);
    border: none;
    transition: background-color, 1s;
    color: #cecece;
    border-radius: 25px;
    width: 120px;
    height: 35px;
    margin-top: 10px;
    font-size: 0.85em;
    font-weight: bold;
}

#new-post:hover, #browse:hover, #search-button:hover{
    /*background-color: #11a985;*/
    background-color: rgba(118, 204, 119, 0.81);
    color: white;
}

#menu{
    margin-top: 0.4%;
}

#upload-area{
    background-color: rgba(55, 57, 67, 0.96);
    border-radius: 5px 5px 0 0;
    padding: 0;
}

#upload{
    border: 3px dashed #8f969c;
    height: 170px;
    margin-top: 20px;
    padding: 0;
    border-radius: 10px;
}

#button-area{
    padding: 0;
    text-align: center;
}

#footer-area{
    height: 50px;
    background-color: #26272e;
    border-radius: 0 0 5px 5px;
}

#browse{
    margin-bottom: 10px;
    background-color: rgb(95, 93, 110);
    line-height: 20px;
}

#file-dialog{
    visibility: hidden;
    z-index: 100;
}

#search-box{
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    height: 23px;
}